.full {
  background-color: #FFFF00
}

.highly-demanded {
  background-color: #9ACD32
}

.over-demanded {
  background-color: #FF0000
}

.normal {
  background-color: #90EE90
}

.subjects-filter {
  float: right
}

.answers-percentage {
  font-weight: bold;
}

.subjects-summary-header {
  margin-bottom: 1%
}

.percentage-value {
  text-align: center
}